
ion-header {
  position: relative;

  ion-toolbar {
    --background: linear-gradient(90deg, #36abe0 0%, #3dc2ff 100%);
    padding-left: 14px;
    padding-right: 14px;

    ion-title {
      --color: white;
      font-size: 18px;
      text-align: center;
    }
    ion-icon{
      color: #ffff;
    }
  }
}


.post-item {
  margin-bottom: 16px;

  .post-header {
    padding: 8px;
  }
  ion-avatar{
    img {
      width: 60px;
      height: 60px;
    }
  }

  .post-media {
    font-size: 0;

    img, video {
      width: 100%;
    }
  }

  .post-stats, .post-comments {
    padding: 0 12px 8px;
  }

  .hash-tag {
    text-decoration: none;
    margin-right: 4px;
  }

  .post-comments {
    line-height: 1.4;

    .username {
      font-weight: 700;
      margin-right: 4px;
    }

    .comment-item {
      &.reply {
        margin: 4px 0 4px 16px;
        padding-left: 8px;
        border-left: 3px solid var(--ion-color-light);
      }
    }

    ion-icon {
      vertical-align: middle;
    }
  }
}
