<ion-content class="ion-padding">
  <div class="header">
    <h1>Register</h1>
    <p>Create account to explore more</p>
  </div>

  <form [formGroup]="form" >
    <div>
      <ion-label>Name</ion-label>
      <ion-input class="input" formControlName="name" placeholder="Your name"></ion-input>
    </div>

    <div>
      <ion-label>Email</ion-label>
      <ion-input class="input" formControlName="email" type="email" placeholder="Your email"></ion-input>
    </div>

    <div>
      <ion-label>Password</ion-label>
      <ion-input class="input" formControlName="password" type="password" placeholder="Your password"></ion-input>
    </div>
    <ion-button class="full" expand="block" [disabled]="form.invalid" (click)="onRegister()" >REGISTER</ion-button>
  </form>
  <ion-button expand="block" fill="clear" routerLink="/login" >I have account </ion-button>
</ion-content>
