.slide-inner-wrapper {
  height: calc(100vh);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

h1 {
  font-size: 28px;
  width: 260px;
  font-weight: bold;
  margin-bottom: 10px;

  @media(min-width: 700px){
      margin: 15px auto;
  }
}

.text-wrapper , .slide-footer , ion-grid{
  margin: auto;
  width: calc(100vw - 50px);
  ion-text{
      font-size: 14px;
      font-weight: 300;
  }
}

ion-slides{
  --bullet-background-active: #36abe0;
}

.slide-body{
  width: 100vw;
}

.slide-footer{
  padding-bottom: 10px;
}


img {
  @media(min-width: 700px){
      height: 300px;
  }
  @media(max-height: 800px){
      height: 280px;
  }
  @media(max-width: 370px){
      height: 280px;
  }
  @media(max-width: 360px){
      height: 220px;
  }
}
