<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup] ='authForm' (submit)="onSubmit(authForm)">
    <ion-item lines="full">
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" formControlName="email" id="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" id="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" >INICIAR SESION</ion-button>
        <a  class="small-text">¿Olvidaste tu contraseña?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>