<ion-app>
  <ion-menu side="start" menuId="main-menu" content-id="main">

    <ion-content>
      <div class="menu-header-bg "></div>
      <div class="header-content">
        <img src="./assets/1.jpg" alt="">
        <ion-label>
          <h2>Juan Baeza</h2>
          <p>jbaeza@ing.ucsc.cl</p>
        </ion-label>
      </div>

      <ion-list class="menu-items" lines="none">
        <ion-item routerLink="/home" routerLinkActive="active">
          <ion-icon name="home-outline"></ion-icon>Inicio
        </ion-item>

        <ion-item>
          <ion-icon name="pie-chart-outline"></ion-icon>Consumo
        </ion-item>

        <ion-item routerLink="/forum"  routerLinkActive="active">
          <ion-icon name="file-tray-full-outline"></ion-icon>Foro
        </ion-item>
      </ion-list>

    </ion-content>

    <div class="divider"></div>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-padding">
        <ion-item button="true" detail="false" lines="none" (click)="onLogout()">
          <ion-label class="sign-out-text">Cerrar sesión</ion-label>

          <ion-button mode="ios" fill="clear" color="light"  >
            <ion-icon  slot="icon-only" name="log-out-outline" color="danger"></ion-icon>
          </ion-button>

        </ion-item>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
