.menu-header-bg {
    height: 180px;
    width: 350px;
    background: inear-gradient(90deg, #3dc2ff 0%, #36abe0 100%);
    background: #36abe0;
    box-shadow: 0px 1px 10px rgba(0, 111, 255, 1); 
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid #50c8ff;
        margin-right: 14px;
    }
    h2 {    
        color: #fff;
        font-weight: 300;
    }
    p {
        font-size: 12px;
        color: #e4e4e4;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
    
}

.menu-items {
    margin: 0px;
    
    ion-icon {
        margin-right: 20px ;
        color: #86979f;
    }
    ion-item {
        padding-left: 20px;
        margin-bottom: 10px
    }

    .active {
        border-left: 5px solid;
        color: #36abe0;
        padding-left: 15px;
        
        ion-icon {
            color: #36abe0;
        }

    }
}

.divider {
    border-radius: 100px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    
    margin: 5px 20px 5px 20px;
    border: 0;

    height: 1px;
    background: #6e747c;
}