<ion-app>
  <ion-menu side="start" menuId="main-menu" content-id="main">



    <ion-content>
      <div class="menu-header-bg "></div>
      <div class="header-content">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="">
        <ion-label>
          <h2>Juan Baeza</h2>
          <p>jbaeza@ing.ucsc.cl</p>
        </ion-label>
      </div>

      <ion-list class="menu-items" lines="none">
        <ion-item>
          <ion-icon name="pie-chart-outline"></ion-icon>Consumo
        </ion-item>

        <ion-item class="active">
          <ion-icon name="file-tray-full-outline"></ion-icon>Foro
        </ion-item>
      </ion-list>
      
    </ion-content>

    <div class="divider"></div>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-no-padding">
        <ion-item button="true" detail="false" lines="none">
          <ion-label class="sign-out-text">Sign Out</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>