
ion-header {
  position: relative;

  ion-toolbar {
    --background: linear-gradient(90deg, #36abe0 0%, #3dc2ff 100%);
    padding-left: 14px;
    padding-right: 14px;

    ion-title {
      --color: white;
      font-size: 18px;
      text-align: center;
    }
    ion-icon{
      color: #ffff;
    }
  }
}

.box {


  @media (prefers-color-scheme: dark) {
    background-color: #2b2d3e;
  }
  background-color: #f4f4f4;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);

  text-shadow: 0 1px 1px 1px #666;
  position: relative;
  border-radius: 5px;



}
.box3 {
  padding: 0;
  padding-top: 10px;
}
