<ion-header>
  <ion-toolbar  no-border>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
        <ion-icon colo="white" src="./assets/icons/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding ">
  <div class="header">
    <div>
      <h1>Hello</h1>
      <strong>{{user_name}}</strong>
    </div>



  </div>

  <div class="sumary">
    <strong>Your total expenses</strong>
    <h1>20000</h1>
    <ion-skeleton-text> animated="true"</ion-skeleton-text>
  </div>

</ion-content>
